
.App {
  text-align: center;
}

.logo {
  /* animation: App-logo-spin infinite 20s linear; */
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
}
.blur{
  filter: blur(1px);
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sprite {
  /* margin-left: 70px; */
  margin-top: 20px;
  max-height: 110px;
  max-width: 180px;
}
.marginless {
  margin: 0;
}
.pokemonTitleName {
  text-transform: capitalize;
}
.cardHeight {
  height: 100px;
}
.is-vertical-center {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.tag{
  margin-left: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
.tag.normal{
  background-color: #A8A878;
  color: white;
}
.tag.fighting{
  background-color: #C03028;
  color: white;
}
.tag.flying{
  background-color: #A890F0;
  color: white;
}
.tag.ground{
  background-color: #E0C068;
  color: white;
}
.tag.rock{
  background-color: #B8A038;
  color: white;
}
.tag.bug{
  background-color: #A8B820;
  color: white;
}
.tag.ghost{
  background-color: #705898;
  color: white;
}
.tag.steel{
  background-color: #B8B8D0;
  color: white;
}
.tag.fire{
  background-color: #F08030;
  color: white;
}
.tag.water{
  background-color: #6890F0;
  color: white;
}
.tag.grass {
  background-color: green;
  color: white;
}
.tag.electric {
  background-color: #F8D030;
  color: white;
}
.tag.psychic {
  background-color: #F85888;
  color: white;
}
.tag.ice {
  background-color: #98D8D8;
  color: white;
}
.tag.dragon {
  background-color: #7038F8;
  color: white;
}
.tag.fairy {
  background-color: #EE99AC;
  color: white;
}
.tag.dark {
  background-color: #705848;
  color: white;
}
.tag.poison {
  background-color: #A040A0;
  color: white;
}
.override {
  display: block;
  margin: 0 auto;
  border-color: #ccdfff;
}
.navbar-brand.img {
margin-left: 50%
}
.navbar-item {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.modal-card-body {
  border-radius: 0px 0px 6px 6px;
}
